<div [class]="{ todoItem: true, done: todoItem.isDone }">
    <div class="content">
        <!-- {isEditing ? (
        <>
          <input
            className="title-input flicker"
            type="text"
            value={editedTitle}
            onChange={(e) => setEditedTitle(e.target.value)}
          />
          <textarea
            className="description-input flicker"
            value={editedDescription}
            onChange={(e) => setEditedDescription(e.target.value)}
          />
        </>
      ) : ( -->
        <h1 class="title">{{ todoItem.title }}</h1>
        <p class="description">{{ todoItem.description }}</p>
        <p>Created at: {{ todoItem.createdAt.toDateString() }}</p>
    </div>

    <div class="buttons">
        @if(isEditing){
        <button (click)="handleSave()">Save</button>
        } @else{
        <button (click)="handleDone()">Done</button>
        <button (click)="handleEdit()">Edit</button>
        <button (click)="handleDelete()">Delete</button>
        }
    </div>
</div>
